@import "basic.scss";
@import "grid";

.container {
  max-width: 1640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.red {
  border: 1px solid;
  height: 20px;
  background-color: red;
}
.blue {
  border: 1px solid;
  height: 20px;
  background-color: blue;
}
